.__search{
    display: flex;
    align-content: center;
    width: 100%;
    height: fit-content;
    max-width: 40%;
    position: relative;
    z-index: 10;
}

.__input{
    width: 100%;
    padding: 6px 20px;
    border: 1px solid var(--primary-theme);
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.__input:focus{
    outline: none;
    box-shadow: 0 0 3px #8ADEB8;
    border: 1px solid var(--primary-theme);
}

.__search_btn{
    outline: none;
    color: #fff;
    padding: 6px 15px;
    background: var(--primary-theme); 
    border: 1px solid var(--primary-theme);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.__search_btn:hover{
    opacity: .9;
}



/* recom */

.__recom{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    z-index: 1;
    display: block;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.__book{
    display: flex;
    align-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.__product_img{
    width: 40px;
    margin-right: 10px;
}

.__product_text{
    flex: 1;
}
.__product_text p{
    margin: 0;
    font-size: 15px;
}
.__product_text span{
    font-size: 12px;
    color: rgb(122, 131, 141)
}


@media only screen and (max-width: 1200px){
    .__search{
        max-width: 35%;
    }
    .__product_text p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px){
    .__search{
        max-width: 50%;
    }
}

@media only screen and (max-width: 768px){
    .__input{
        padding: 4px 15px;
        font-size: 14px;
    }
    .__search_btn{
        padding: 4px 15px;
    }
    .__recom{
        padding: 10px;
    }
}

@media only screen and (max-width: 576px){
    .__search{
        max-width: 70%;
        border: 1px solid rab(0 0 0/ 10%);
        display: none;
    }
}