.__sidebar_wrapper{
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    padding: 20px 20px;
    height: 100%;
    background: #fff;
    position: fixed;
    left: -255px;
    top: 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 5%);
    transition: .4s ease-in-out;
}

.__sidebar_wrapper.__active{
    left: 0;
}

.__header{
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-theme);
}

.__close_btn{
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}

.__menu_list{
    padding: 10px 0;
}