.__hero_section{
    display: block;
    height: fit-content;
    overflow: hidden;
    margin: 20px 0;
}


.__menu_section{
    width: 100%;
    height: 500px;
    max-width: 300px;
    background: #fff;
}

.__menu_head{
    width: 100%;
    background: var(--primary-theme);
    padding: 10px 20px;
    color: #fff;
}

.__menu{
    padding: 5px 20px;
}

.__menu_item{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #3a3e42;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.__menu_item:hover{
    cursor: pointer;
}

.__item_lists{
    width: 250px;
    list-style: none;
    padding: 10px 0px;
    margin: 0;
    margin-left: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
}
.__item{
    padding: 0 20px;
}
.__item_link{
    display: block;
    padding: 8px 10px;
    transition: .2s;
    color: #3a3e42;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    font-size: 16px;
}
.__item_link:hover{
    padding: 8px 15px;
}


/* product cart */
._product_category{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, .3);
}

._product_image{
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
}

.see_more_btn{
    font-size: 14px;
    color: #11ae68;
}
.see_more_btn:hover{
    color: #11ae68;
    text-decoration: underline;
}


/* responsive */

@media only screen and (max-width: 1400px){
    .__menu_section{
        height: 435px;
    }
}
@media only screen and (max-width: 1200px){
    .__menu_section{
        height: 365px;
    }
}

@media only screen and (max-width: 992px){
    .__hero_section{
        margin: 8px 0;
        height: fit-content;
    }
    .__menu_col{
        display: none;
    }
}